.additional-products {
  padding-top: 28px;

  @media (min-width: $desktop-min-width) {
    width: 896px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.additional-products__list {
  @media (max-width: $mobile-max-width) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: $tablet-max-width) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 708px;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 116px;
  }
}

.additional-products__title {
  font-size: $additional-products__title-fs;
  line-height: $additional-products__title-lh;
}
