.additionally-footer {
  position: relative;

  background-color: $bg-block;

  @media (max-width: $mobile-max-width) {
    padding-top: 38px;
    padding-bottom: 10px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    padding-top: 58px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-min-width) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $mobile-max-width) {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}

.additionally-footer__logo {
  @media (max-width: $mobile-max-width) {
    margin-right: auto;
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-min-width) {
    margin-right: 23px;
  }
}

.additionally-footer__socials {
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $mobile-max-width) {
    padding-bottom: 7px;
  }
}
