.additional-product {
  border-bottom: $other-border;

  &:first-of-type {
    border-top: $other-border;
  }

  @media (max-width: $mobile-max-width) {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 18px;
  }
}

.additional-product__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-family: $oswald-regular;
  font-size: $additional-product__title-fs;
  line-height: $additional-product__title-lh;
  color: $font-dark;
  text-transform: uppercase;
}
