.additional-product {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: $other-border;

  &:first-of-type {
    border-top: $other-border;
  }
}

.additional-product__title {
  margin: 0 0 10px;

  @include oswald-regular();
  font-size: $additional-product__title-fs;
  line-height: $additional-product__title-lh;
  color: $font-dark;
  text-transform: uppercase;
}
