.contacts {
  background-color: $bg-block;

  &--light {
    background-color: $bg-body;
  }
}

.contacts__slogan {
  font-family: $oswald-regular;
  font-size: $contacts__slogan-fs;
  line-height: $contacts__slogan-lh;
  color: $font-dark;
  text-transform: uppercase;
}

.contacts__address {
  font-family: $arial;
  font-size: $contacts__address-fs;
  line-height: $contacts__address-lh;
}

.contacts__map {
  position: relative;
}

.contacts__iframe {
  position: absolute;
}

.contacts__map,
.contacts__iframe {
  width: 100%;
}

@media (max-width: $mobile-max-width) {
  .contacts__map,
  .contacts__iframe {
    height: 362px;
  }
}

@media (min-width: $tablet-min-width) {
  .contacts__map,
  .contacts__iframe {
    height: 395px;
  }
}

@media (min-width: $desktop-min-width) {
  .contacts {
    position: relative;
  }

  .contacts__top {
    position: absolute;
    top: 180px;
    left: 200px;
    z-index: 2;

    background-color: #ffffff;
  }

  .contacts__map,
  .contacts__iframe {
    height: 400px;
  }
}
