.contacts {
  background-color: $bg-block;

  &--light {
    background-color: $bg-body;
  }

  @media (min-width: $desktop-min-width) {
    position: relative;
  }
}

.contacts__top {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 25px;

  @media (max-width: $mobile-max-width) {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: $tablet-max-width) {
    position: relative;
    z-index: 1;
  }

  @media (min-width: $desktop-min-width) {
    position: absolute;
    top: 180px;
    left: 200px;
    z-index: 2;
  }

  &--light {
    background-color: #ffffff;
  }
}

.contacts__slogan,
.contacts__address {
  @media (max-width: $mobile-max-width) {
    width: 140px;
  }
}

.contacts__slogan {
  font-family: $oswald-regular;
  font-size: $contacts__slogan-fs;
  line-height: $contacts__slogan-lh;
  color: $font-dark;
  text-transform: uppercase;
}

.contacts__address {
  font-family: $arial;
  font-size: $contacts__address-fs;
  line-height: $contacts__address-lh;
  font-style: normal;
}

.contacts__map,
.contacts__iframe {
  width: 100%;

  @media (max-width: $mobile-max-width) {
    height: 365px;
  }

  @media (min-width: $tablet-min-width) {
    @media (max-width: $tablet-max-width) {
      height: 395px;
    }
  }

  @media (min-width: $desktop-min-width) {
    height: 400px;
  }
}

.contacts__map {
  position: relative;
}

.contacts__iframe {
  position: absolute;
  z-index: 1;

  border: none;
}

.contacts__map-image {
  position: relative;

  @media (max-width: $mobile-max-width) {
    top: -36px;
  }
}
