.container {
  margin: 0 auto;

  @media (max-width: $mobile-max-width) {
    width: 320px;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .container {
    width: 768px;
  }
}

@media (min-width: $desktop-min-width) {
  .container {
    width: 1440px;
  }
}
