.example {
  @media (max-width: $mobile-max-width) {
    padding-bottom: 36px;

    background-color: $bg-block;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-top: -59px;
    padding-top: 43px;
    border-top: $example-border;
  }
}

.example__container {
  @media (max-width: $mobile-max-width) {
    padding-top: 16px;
  }
}

.example__title {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-bottom: 64px;
  }
}

.example__description {
  @media (max-width: $mobile-max-width) {
    width: 270px;

    &:last-of-type {
      margin-bottom: 25px;
    }
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 680px;
    margin-bottom: 53px;
  }
}
