.heading-ribbon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  word-break: break-word;

  @media (max-width: $mobile-max-width) {
    align-items: flex-start;
    margin-bottom: 34px;

    font-size: $heading-ribbon-fs-m;
    line-height: $heading-ribbon-lh-m;
  }

  @media (min-width: $tablet-min-width) {
    margin-bottom: 77px;

    font-size: $heading-ribbon-fs-td;
    line-height: $heading-ribbon-lh-td;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-left: auto;
    margin-right: auto;
  }

  &::before {
    content: "";

    display: block;
    height: 3px;
    margin-top: 11px;

    background-color: $bg-accent;

    @media (max-width: $mobile-max-width) {
      width: calc((100% - 320px) / 2);
    }

    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
      width: calc((100% - 708px) / 2);
    }

    @media (min-width: $desktop-min-width) {
      width: calc((100% - 1300px) / 2);
    }
  }

  &::after {
    content: "";

    display: block;
    height: 3px;

    background-color: $bg-accent;

    @media (max-width: $mobile-max-width) {
      flex-grow: 1;
      margin-top: 14px;
    }

    @media (min-width: $tablet-min-width) {
      flex-grow: 1;
      margin-top: 11px;
    }
  }
}

.heading-ribbon__wrapper {
  @media (max-width: $mobile-max-width) {
    max-width: 226px;
    margin-right: 23px;
    margin-left: 20px;
  }

  @media (min-width: $tablet-min-width) {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
  }

  @media (min-width: $desktop-min-width) and (max-width: 1330px) {
    max-width: 80%;
    margin-left: 30px;
  }
}
