.link {
  display: block;
  padding: 11px 20px;

  @include oswald-regular();
  font-size: $link-fs;
  line-height: $link-lh;
  text-transform: uppercase;
  text-align: center;
  color: $font-light;

  background-color: $bg-accent;

  &:hover,
  &:focus,
  &:active {
    background-color: $bg-accent-hover;
  }
}
