.link {
  @media (max-width: $mobile-max-width) {
    display: block;
  }

  @media (min-width: $tablet-min-width) {
    display: inline-block;
  }

  padding: 11px 20px;

  font-family: $oswald-regular;
  font-size: $link-fs;
  line-height: $link-lh;
  text-transform: uppercase;
  text-align: center;
  color: $font-light;

  background-color: $bg-accent;

  &:hover,
  &:focus,
  &:active {
    background-color: $bg-accent-hover;
  }
}
