.logo {
  &:hover,
  &focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  cursor: pointer;
}

.logo__image {
  display: block;

  @media (max-width: $mobile-max-width) {
    width: 191px;
    height: 38px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 173px;
    height: 58px;
  }

  @media (min-width: $desktop-min-width) {
    width: 202px;
    height: 59px;
  }
}

.logo-inscription {
  @media (max-width: $mobile-max-width) {
    width: 100%;
    text-align: center;
  }

  @media (min-width: $tablet-min-width) {
    max-width: 162px;
  }
}
