.more-products {
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  border: $product-border;

  @media (max-width: $mobile-max-width) {
    padding-bottom: 22px;
    border-top: none;
  }
}

.more-products__title {
  font-family: $oswald-regular;
  font-size: $more-products__title-fs;
  line-height: $more-products__title-lh;
  color: $font-dark;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 10px;
  }

  &::before {
    content: "";

    display: block;
    margin-left: auto;
    margin-right: auto;

    opacity: 0.2;

    background-repeat: no-repeat;

    @media (max-width: $mobile-max-width) {
      width: 30px;
      height: 30px;
      margin-bottom: 25px;


      background-image: url("../../img/icon-plus-mobile.svg");
    }
  }
}

.more-products__slogan {
  font-size: $more-products__slogan-fs;
  line-height: $more-products__slogan-lh;
  text-align: center;
}

.more-products__link {
  color: $font-gray;

  background-color: $bg-block;

  @media (max-width: $mobile-max-width) {
    margin-top: 23px;
  }
}

@media (min-width: $tablet-min-width) {
  .more-products {
    @media (max-width: $tablet-max-width) {
      width: 324px;
    }

    margin-bottom: 95px;
  }
}

@media (min-width: $desktop-min-width) {
  .more-products {
    width: 245px;
  }
}
