.product {
  padding-top: 22px;
  padding-bottom: 22px;

  @media (max-width: $mobile-max-width) {
    border: $product-border;
    border-top: none;

    &:first-of-type {
      border-top: $product-border;
    }
  }
}

.product__title {
  width: 100px;
  margin-top: 0;
  margin-bottom: 8px;

  font-family: $oswald-regular;
  font-size: $product__title-fs;
  line-height: $product__title-lh;
  color: $font-dark;
  text-transform: uppercase;
}

@media (min-width: $tablet-min-width) {
  .product {
    @media (max-width: $tablet-max-width) {
      width: 324px;
      margin-bottom: 95px;
      margin-right: 60px;
    }

    flex-shrink: 0;

    background-color: $bg-block;
  }
}

@media (min-width: $desktop-min-width) {
  .product {
    width: 245px;
    margin-bottom: 95px;
    margin-right: 80px;
  }
}
