.product-table {
  flex-shrink: 0;
  border-collapse: collapse;

  font-family: $arial;
  color: $font-gray;

  @media (max-width: $mobile-max-width) {
    border: none;

    font-size: $product-table-fs;
    line-height: $product-table-lh;
  }

  @media (min-width: $tablet-min-width) {
    width: 100%;

    font-size: $product-table-fs-td;
    line-height: $product-table-lh-td;
  }
}

.product-table__caption {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 7px;

    text-align: left;
  }

  @media (min-width: $tablet-min-width) {
    margin-bottom: 11px;
  }
}

.product-table__title {
  margin-top: 0;
  margin-bottom: 8px;

  font-family: $oswald-regular;
  font-weight: normal;
  color: $font-dark;
  text-transform: uppercase;

  @media (max-width: $mobile-max-width) {
    width: 100px;

    font-size: $product__title-fs;
    line-height: $product__title-lh;
    text-align: left;
  }

  @media (min-width: $tablet-min-width) {
    width: 155px;

    font-size: $product__title-fs-td;
    line-height: $product__title-lh-td;
    text-align: center;
  }
}


.product-table__row {
  @media (min-width: $tablet-min-width) {
    border-bottom: $other-border;
  }
}

.product-table__indicator,
.product-table__value {
  padding: 0;

  @media (min-width: $tablet-min-width) {
    padding-top: 9px;
    padding-bottom: 6px;
  }
}

.product-table__value {
  text-align: right;
}
