.product {
  padding-top: 22px;
  padding-bottom: 22px;
  border: $product-border;
  border-top: none;

  &:first-of-type {
    border-top: $product-border;
  }
}

.product__title {
  width: 100px;
  margin: 0;
  margin-bottom: 8px;

  font-family: $oswald-regular;
  font-size: $product__title-fs;
  line-height: $product__title-lh;
  color: $font-dark;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .product {
    width: 324px;
    flex-shrink: 0;
    margin-bottom: 95px;
    border: none;

    background-color: $bg-block;

    &:not(:nth-of-type(2n)) {
      margin-right: 60px;
    }

    &:first-of-type {
      border-top: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
    margin-bottom: 95px;
  }

  &:not(:nth-of-type(4n)) {
    margin-right: 80px;
  }
}
