.product {
  display: flex;
  flex-wrap: wrap;
  padding-top: 22px;

  @media (max-width: $mobile-max-width) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;

    border: $product-border;
    border-top: none;

    &:first-of-type {
      border-top: $product-border;
    }
  }

  @media (min-width: $tablet-min-width) {
    flex-direction: column;
    flex-shrink: 0;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 39px;

    background-color: $bg-block;

    @media (max-width: $tablet-max-width) {
      width: 324px;
    }
  }

  @media (min-width: $desktop-min-width) {
    width: 245px;
  }
}

.product__info-table {
  order: 1;

  @media (max-width: $mobile-max-width) {
    width: 138px;
  }
}

.product__image {
  flex-shrink: 0;

  @media (max-width: $mobile-max-width) {
    max-width: 140px;
  }

  @media (min-width: $tablet-min-width) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
}

.product__link {
  order: 2;

  font-size: $product__link-fs;
  line-height: $product__link-lh;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-top: 25px;
  }

  @media (min-width: $tablet-min-width) {
    margin-top: 33px;
  }
}
