.products {
  @media (max-width: $mobile-max-width) {
    .container {
      width: 320px;
    }
  }
}

.products__list {
  @media (min-width: $tablet-min-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.products__item {
  @media (min-width: $tablet-min-width) {
    margin-bottom: 140px;

    &:not(:nth-child(2n)) {
      @media (max-width: $tablet-max-width) {
        margin-right: 60px;
      }
    }
  }

  @media (min-width: $desktop-min-width) {
    &:not(:nth-child(4n)) {
      margin-right: 80px;
    }
  }
}

.products__more-products {
  @media (min-width: $tablet-min-width) {
    margin-bottom: 140px;
  }
}
