@media (min-width: $tablet-width) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -65px; /* Валя, можно так? Или какое-то другое решиние лучше? */
  }
}

@media (min-width: $tablet-width) {
  .products__list {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: -55px; /* Валя, можно так? Или какое-то другое решиние лучше? */
  }
}
