.program-selection__title {
  margin-right: 0;
  margin-left: 0;

  font-family: $oswald-regular;
  font-weight: normal;
  color: $font-dark;
  text-transform: uppercase;

  @media (max-width: $mobile-max-width) {
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: $program-selection__title-fs-m;
    line-height: $program-selection__title-lh-m;
  }

  @media (min-width: $tablet-min-width) {
    width: 385px;
    margin-bottom: 64px;

    font-size: $program-selection__title-fs-td;
    line-height: $program-selection__title-lh-td;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    padding-left: 40px;
  }
}
