.program-selection__title {
  width: 250px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;

  @include oswald-regular();
  font-size: $program-selection__title-fs;
  line-height: $program-selection__title-lh;
  color: $font-dark;
  text-transform: uppercase;
}
