.programs__link {
  width: auto;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 22px;
  }
}

@media (min-width: $tablet-min-width) {
  .programs__link {
    margin-bottom: 645px;
  }
}

@media (min-width: $desktop-min-width) {
  .programs__list {
    display: flex;
    flex-wrap: wrap;
  }

  .programs__item {
    width: 570px;

    &:not(:last-of-type) {
      margin-right: 80px;
    }
  }
}
