.program-selection__title {
  width: 250px;
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;

  font-family: $oswald-regular;
  font-size: $program-selection__title-fs;
  font-weight: normal;
  line-height: $program-selection__title-lh;
  color: $font-dark;
  text-transform: uppercase;
}
