.programs {
  @media (min-width: $desktop-min-width) {
    padding-top: 45px;
  }
}

.programs__list {
  @media (min-width: $desktop-min-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.programs__item {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-min-width) {
    @media (max-width: $tablet-max-width) {
      margin-top: -5px;
      margin-bottom: 35px;
    }
  }

  @media (min-width: $desktop-min-width) {
    width: 570px;

    &:not(:nth-of-type(2n)) {
      margin-right: 80px;
    }
  }

  &:last-of-type {
    @media (max-width: $mobile-max-width) {
      margin-bottom: 18px;
    }
  }
}
