.proposition {
  position: relative;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 61px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    padding-top: 38px;
  }

  @media (min-width: $desktop-min-width) {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: -143px;
    padding-top: 142px;
    padding-bottom: 90px;

    background-image:
      url("../img/index-background-desktop@1x.jpg"),
      linear-gradient(to right, $bg-body 50%, $bg-proposition 50%);
    background-size: 720px 696px, 100% 696px;
    background-position: right -15px top, center top;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/index-background-desktop@2x.jpg"),
        linear-gradient(to right, $bg-body 50%, $bg-proposition 50%);
    }
  }

  .container {
    @media (max-width: $mobile-max-width) {
      width: 320px;
      padding-top: 27px;
      padding-left: 20px;
      padding-right: 20px;

      background-image:
        url("../img/index-background-mobile@1x.jpg"),
        linear-gradient(to bottom, $bg-proposition 69%, $bg-body 31%);
      background-size: 320px 305px;
      background-position: center top;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image:
          url("../img/index-background-mobile@2x.jpg"),
          linear-gradient(to bottom, $bg-accent 69%, $bg-body 31%);
      }
    }

    @media (min-width: $desktop-min-width) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
}

.proposition__text-content {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-bottom: 20px;
    width: 490px;
    margin-left: 85px;
  }

  @media (min-width: $desktop-min-width) {
    width: 455px;
    margin-top: 80px;
    margin-left: 80px;
  }
}

.proposition__title,
.proposition__slogan {
  @media (max-width: $mobile-max-width) {
    color: $font-light;
    text-align: center;
  }

  @media (min-width: $tablet-min-width) {
    color: $font-dark;
    text-align: left;
  }
}

.proposition__title {
  font-weight: normal;
  line-height: $proposition__title-lh;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-min-width) {
    margin-bottom: 40px;
  }
}

.proposition__slogan {
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;

  font-family: $oswald-regular;
  text-transform: uppercase;

  @media (max-width: $mobile-max-width) {
    font-size: $proposition__slogan-fs-m;
    line-height: $proposition__slogan-lh-m;
  }

  @media (min-width: $tablet-min-width) {
    margin-left: 3px;

    font-size: $proposition__slogan-fs-td;
    line-height: $proposition__slogan-lh-td;
  }
}

.proposition__link {
  @media (max-width: $mobile-max-width) {
    position: absolute;
    left: 50%;
    bottom: -60px;

    min-width: 280px;
    margin-bottom: 21px;

    font-size: $proposition__link-fs-m;
    line-height: $proposition__link-lh-m;

    transform: translateX(-50%);
  }

  @media (min-width: $tablet-min-width) {
    position: absolute;
    bottom: 537px;
    left: 90px;

    font-size: $proposition__link-fs-td;
    line-height: $proposition__link-lh-t;
    max-width: 295px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 15px;
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-min-width) {
    position: static;

    margin-top: 40px;
  }
}

.proposition__image {
  @media (max-width: $mobile-max-width) {
    width: 280px;
    height: 271px;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    width: 709px;
    height: 609px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-min-width) {
    width: 552px;
    height: 499px;
    margin-left: -85px;
    margin-right: 150px;
  }
}
