.proposition {
  position: relative;

  margin-bottom: 310px;
  padding-top: 27px;
}


.proposition__title {
  margin-bottom: 25px;

  font-weight: normal;
  line-height: $proposition__title-lh;
}

.proposition__title,
.proposition__slogan {
  color: $font-light;
  text-align: center;
}

.proposition__slogan {
  margin: 15px 0;

  font-family: $oswald-regular;
  font-size: $proposition__slogan-fs;
  line-height: $proposition__slogan-lh;
  text-transform: uppercase;
}

.proposition__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 320px;
  height: 305px;

  background-color: $bg-accent;
  background-image: $proposition-bg-img-m;
  background-repeat: no-repeat;
}

.proposition__image {
  position: absolute;
  top: 167px;
  left: 50%;

  width: 280px;
  height: 271px;

  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .proposition {
    margin-bottom: 0;
  }

  .proposition__title,
  .proposition__slogan {
    color: $font-dark;
    text-align: left;
  }

  .proposition__image-wrapper {
    width: 709px;
    height: 609px;

    background: none;
  }

  .proposition__image {
    width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .proposition__image-wrapper {
    right: 0;
    left: auto;

    background-color: $bg-accent;
    background-image: $proposition-bg-img-d;
    background-repeat: no-repeat;
    background-size: 720px 696px;
  }

  .proposition__image {
    top: 100px;
    left: 145px;

    width: 552px;
    height: 499px;
  }
}
