.results-factoid__top {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-max-width) {
    justify-content: space-between;
    margin-bottom: 34px;
  }
}

.results-factoid__item {
  position: relative;

  border: $other-border;
  border-radius: 2px;

  @media (max-width: $mobile-max-width) {
    width: 124px;
    margin-bottom: 34px;
  }
}

.results-factoid__price-item {
  @media (max-width: $mobile-max-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.results-factoid__name,
.results-factoid__value {
  display: block;
}

.results-factoid__name {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);

  font-size: $results-factoid__name-fs;
  line-height: $results-factoid__name-lh;
  text-align: center;

  background-color: $bg-block;

  @media (max-width: $mobile-max-width) {
    bottom: -16px;

    width: 85px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.results-factoid__value,
.results-factoid__cost,
.results-factoid__before-after {
  font-family: $oswald-regular;
  text-transform: uppercase;
  text-align: center;
}

.results-factoid__value {
  font-size: $results-factoid__value-fs;
  line-height: $results-factoid__value-lh;
  color: $font-dark;

  @media (max-width: $mobile-max-width) {
    padding-top: 12px;
    padding-bottom: 18px;
  }
}

.results-factoid__cost {
  font-size: $results-factoid__cost-fs;
  line-height: $results-factoid__cost-lh;
  color: $font-dark;
  text-align: center;
}

.results-factoid__slider {
  @media (max-width: $mobile-max-width) {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
}

.results-factoid__slides {
  @media (max-width: $mobile-max-width) {
    display: flex;
    width: 640px;
  }

  &--before {
    transform: translateX(0);
  }

  &--after {
    transform: translateX(-320px);
  }
}

.results-factoid__image {
  @media (max-width: $mobile-max-width) {
    display: block;
    flex-shrink: 0;
    width: 320px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 33px;
  }
}

.results-factoid__before-after {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-size: $results-factoid__before-after-fs;
  line-height: $results-factoid__before-after-lh;
}

.results-factoid__before-after-text {
  padding: 0;
  border: none;

  color: $font-dark;
  text-transform: uppercase;

  background: none;
}

.results-factoid__toggles {
  @media (max-width: $mobile-max-width) {
    width: 84px;
    height: 14px;
    margin-left: 18px;
    margin-right: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: $other-border;
    border-radius: 6px;

    background-color: $bg-toggles;
  }
}

.results-factoid__toggle {
  @media (max-width: $mobile-max-width) {
    width: 35px;
    height: 6px;
    border-radius: 3px;

    background-color: $bg-accent;
  }

  &--before {
    margin-right: auto;
  }

  &--after {
    margin-left: auto;
  }
}
