.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding-top: 22px;
    border-top: $bg-block-border;
    border-bottom: $bg-block-border;
  }

  @media (min-width: $tablet-min-width) {
    width: 324px;
    margin-left: 27px;
  }
}

.socials__item {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 10px;

    &:not(:first-child) {
      margin-left: 36px;
    }
  }

  @media (min-width: $tablet-min-width) {
    margin-bottom: 10px;

    &:not(:first-child) {
      margin-left: 25px;
    }
  }
}

.socials__link {
  display: block;

  background-repeat: no-repeat;

  .socials__icon {
    fill: $social-gray;
  }

  &:hover,
  &:focus {
    .socials__icon {
      fill: $bg-accent;
    }

    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.socials__icon {
  &--vk {
    @media (max-width: $mobile-max-width) {
      width: 22px;
      height: 12px;
    }

    @media (min-width: $tablet-min-width) {
      width: 30px;
      height: 16px;
    }
  }

  &--insta {
    @media (max-width: $mobile-max-width) {
      width: 16px;
      height: 16px;
    }

    @media (min-width: $tablet-min-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    @media (max-width: $mobile-max-width) {
      width: 19px;
      height: 19px;
    }

    @media (min-width: $tablet-min-width) {
      width: 27px;
      height: 27px;
    }
  }
}
