.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 10px;
  border-top: $bg-block-border;
  border-bottom: $bg-block-border;
}

.socials__item {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 10px;

    &:not(:first-child) {
      margin-left: 36px;
    }
  }
}

.socials__link {
  display: block;

  background-repeat: no-repeat;

  &:hover,
  &:focus {
    background-position: 0 0;

    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    background-image: url("../../img/icon-vk.svg");

    @media (max-width: $mobile-max-width) {
      width: 22px;
      height: 12px;

      background-size: 22px 24px;
      background-position: 0 -12px;
    }
  }

  &--insta {
    background-image: url("../../img/icon-insta.svg");

    @media (max-width: $mobile-max-width) {
      width: 16px;
      height: 16px;

      background-size: 16px 32px;
      background-position: 0 -16px;
    }
  }

  &--fb {
    width: 10px;
    height: 19px;

    background-image: url("../../img/icon-fb.svg");

    @media (max-width: $mobile-max-width) {
      width: 19px;
      height: 19px;

      background-size: 19px 38px;
      background-position: 0 -19px;
    }
  }
}
