@mixin oswald-medium() {
  font: {
    family: "Oswald Medium", "Arial", "Helvetica", sans-serif;
    weight: normal;
    style: normal;
  }
}

@mixin oswald-regular() {
  font: {
    family: "Oswald Regular", "Arial", "Helvetica", sans-serif;
    weight: normal;
    style: normal;
  }
}


@mixin text() {
  font: {
    family: "Arial", "Helvetica", sans-serif;
    weight: normal;
    style: normal;
  }
}

