$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width:1220px;

$oswald-medium: ("Oswald Medium", "Arial", "Helvetica", sans-serif);
$oswald-regular: ("Oswald Regular", "Arial", "Helvetica", sans-serif);
$arial: ("Arial", "Helvetica", sans-serif);

$text-fs: 14px;
$text-lh: 1.3;

$main-nav-fs: 20px;
$main-nav-lh: 1;

$section-title-fs: 36px;
$section-title-lh: 1.7;

$proposition__title-lh: 1;
$proposition__slogan-fs: 14px;
$proposition__slogan-lh: 1;

$link-fs: 14px;
$link-lh: 1.3;

$program__title-fs: 24px;
$program__title-lh: 1.5;
$program__more-fs: 16px;
$program__more-lh: 1;

$results-factoid__name-fs: 12px;
$results-factoid__name-lh: 1;
$results-factoid__value-fs: 24px;
$results-factoid__value-lh: 1;
$results-factoid__cost-fs: 14px;
$results-factoid__cost-lh: 1.4;
$results-factoid__was-became-fs: 16px;
$results-factoid__was-became-lh: 1.2;

$product__title-fs: 16px;
$product__title-lh: 1.2;

$product-table-fs: 12px;
$product-table-lh: 1.3;

$more-products__title-fs: 16px;
$more-products__title-lh: 1.2;
$more-products__slogan-fs: 12px;
$more-products__slogan-lh: 1.3;

$additional-products__title-fs: 24px;
$additional-products__title-lh: 1;

$additional-product__title-fs: 16px;
$additional-product__title-lh: 1;

$add-product-table-fs: 14px;
$add-product-table-lh: 1;

$gifts__text-fs: 16px;
$gifts__text-lh: 1.2;

$program-selection__title-fs: 14px;
$program-selection__title-lh: 1.3;

$program-form__title-fs: 24px;
$program-form__title-lh: 1;
$program-form__label-fs: 16px;
$program-form__label-lh: 1.1;
$program-form__footnote-fs: 14px;
$program-form__footnote-lh: 1.1;

$contacts__slogan-fs: 16px;
$contacts__slogan-lh: 1.2;
$contacts__address-fs: 14px;
$contacts__address-lh: 1.4;

$developer__text-fs: 16px;
$developer__text-lh: 1;

$font-light: #ffffff;
$font-dark: #111111;
$font-dark-gray: #222222;
$font-gray: #444444;

$bg-accent: #68b738;
$bg-accent-hover: #5eaa2f;
$bg-block: #f2f2f2;
$bg-body: #ffffff;

$nav-border: 1px solid #e6e6e6;
$product-border: 1px solid #ededed;
$bg-block-border: 1px solid #d9d9d9;
$other-border: 1px solid #cdcdcd;

$proposition-bg-img-m: url("../img/index-background-mobile@1x.jpg");
$gifts-bg-img-m: url("../img/gift-photo-mobile@1x.jpg");
