$largest-title-fs: 36px;
$largest-title-lh: 60px;
$big-title-fs: 24px;
$big-title-lh: 37px;
$title-fs: 20px;
$small-title-fs: 16px;
$small-title-lh: 20px;
$text-fs: 14px;
$text-lh: 18px;
$table-fs: 12px;
$table-lh: 16px;

$main-nav-fs: 20px;
$main-nav-lh: 20px;

$section-title-fs: 36px;
$section-title-lh: 60px;

$proposition__title-lh: 36px;
$proposition__slogan-fs: 14px;
$proposition__slogan-lh: 14px;

$link-fs: 14px;
$link-lh: 18px;

$program__title-fs: 24px;
$program__title-lh: 37px;
$program__more-fs: 16px;
$program__more-lh: 16px;

$results-factoid__name-fs: 12px;
$results-factoid__name-lh: 12px;
$results-factoid__value-fs: 24px;
$results-factoid__value-lh: 24px;
$results-factoid__cost-fs: 14px;
$results-factoid__cost-lh: 20px;
$results-factoid__was-became-fs: 16px;
$results-factoid__was-became-lh: 20px;

$product__title-fs: 16px;
$product__title-lh: 20px;

$product-table-fs: 12px;
$product-table-lh: 16px;

$more-products__title-fs: 16px;
$more-products__title-lh: 20px;
$more-products__slogan-fs: 12px;
$more-products__slogan-lh: 16px;

$additional-products__title-fs: 24px;
$additional-products__title-lh: 24px;

$additional-product__title-fs: 16px;
$additional-product__title-lh: 16px;

$add-product-table-fs: 14px;
$add-product-table-lh: 14px;

$gifts__text-fs: 16px;
$gifts__text-lh: 20px;

$program-selection__title-fs: 14px;
$program-selection__title-lh: 18px;

$program-form__title-fs: 24px;
$program-form__title-lh: 24px;
$program-form__label-fs: 16px;
$program-form__label-lh: 18px;
$program-form__footnote-fs: 14px;
$program-form__footnote-lh: 16px;

$contacts__slogan-fs: 16px;
$contacts__slogan-lh: 20px;
$contacts__address-fs: 14px;
$contacts__address-lh: 20px;

$developer__text-fs: 16px;
$developer__text-lh: 16px;

$font-light: #ffffff;
$font-dark: #111111;
$font-dark-gray: #222222;
$font-gray: #444444;

$bg-accent: #68b738;
$bg-accent-hover: #5eaa2f;
$bg-block: #f2f2f2;
$bg-body: #ffffff;

$nav-border: 1px solid #e6e6e6;
$product-border: 1px solid #ededed;
$bg-block-border: 1px solid #d9d9d9;
$other-border: 1px solid #cdcdcd;

$proposition-bg-img-m: url("../img/index-background-mobile@1x.jpg");
$gifts-bg-img-m: url("../img/gift-photo-mobile@1x.jpg");
